# Air Quality Analysis: Patterns and Trends of Key Pollutants

## Project Overview

---

## 1. Imports

In [4]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

## 2. Loading the data

In [8]:
air = pd.read_excel('./datasets/AirQuality.xlsx')
air.head()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,2004-10-03 00:00:00,18.00.00,"2,6",1360,150,"11,9",1046,166,1056,113,1692,1268,"13,6","48,9","0,7578",NaN,NaN,NaN,NaN,NaN
1,2004-10-03 00:00:00,19.00.00,21292,112,9,4955,103,1174,92,1559,972,13,"3,47","7,0","0,7225",NaN,NaN,NaN,NaN,NaN
2,2004-10-03 00:00:00,20.00.00,"2,2",1402,88,"9,0",939,131,1140,114,1555,1074,"11,9","54,0","0,7502",NaN,NaN,NaN,NaN,NaN
3,2004-10-03 00:00:00,21.00.00,"2,2",1376,80,"9,2",948,172,1092,122,1584,1203,"11,0","60,0","0,7867",NaN,NaN,NaN,NaN,NaN
4,2004-10-03 00:00:00,22.00.00,"1,6",1272,51,"6,5",836,131,1205,116,1490,1110,"11,2","59,6","0,7888",NaN,NaN,NaN,NaN,NaN

In [7]:
air = air.drop(columns = ['Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19'])
air.head()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,2004-10-03 00:00:00,18.00.00,"2,6",1360,150,"11,9",1046,166,1056,113,1692,1268,"13,6","48,9","0,7578"
1,2004-10-03 00:00:00,19.00.00,21292,112,9,4955,103,1174,92,1559,972,13,"3,47","7,0","0,7225"
2,2004-10-03 00:00:00,20.00.00,"2,2",1402,88,"9,0",939,131,1140,114,1555,1074,"11,9","54,0","0,7502"
3,2004-10-03 00:00:00,21.00.00,"2,2",1376,80,"9,2",948,172,1092,122,1584,1203,"11,0","60,0","0,7867"
4,2004-10-03 00:00:00,22.00.00,"1,6",1272,51,"6,5",836,131,1205,116,1490,1110,"11,2","59,6","0,7888"